.card-cont {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    padding: 10px;
    box-shadow: 0 0 5px;
    border-radius: 8px;
    width: 50vh;
    height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.front-card, .back-card {
    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.front, .back {
    font-family: sans-serif, kaiti;
    flex: 0 0 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* front side */
.front-card button {
    flex: 0 0 25%;
}

.front-card .front {
    font-size: 3rem;
}


/* back side */
.back-card .back {
    flex-direction: column;
    text-align: center;
    flex: 0 0 75%;
}

.back-card .back .back-prompt {
    font-size: 3rem;
}

.back-card .bottom-nav {
    display: flex;
    height: 100%;
}

.back-card .bottom-nav button {
    flex: 1 1;
}


.hide {
    display: none;
}

.progress-bar {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}