<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kana Learner</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='kana/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">
</head>

<body>
    <a href="/">&lt; Back to Leescribe</a>

    <label><input class="kana-type" type="radio" name="kana" value="hiragana" checked> Hiragana (hiragana ->
        romaji)</label>
    <label><input class="kana-type" type="radio" name="kana" value="katakana"> Katakana (katakana -> romaji)</label>
    <label><input class="kana-type" type="radio" name="kana" value="mixed"> Mixed (hiragana -> katakana and katakana ->
        hiragana)</label>

    <div class="card">
        <div class="front">
            <div class="prompt"></div>
            <div class="text"></div>
            <div class="nav-bar">
                <button class="flip-btn">Flip (Space)</button>
            </div>
        </div>
        <div class="back">
            <div class="text"></div>
            <div class="nav-bar">
                <button class="next-btn">Easy (1)</button>
                <button class="save-btn">Hard (4)</button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='kana/main.js') }}"></script>
</body>

</html>