.richTextCont {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.textCont {
    position: relative;
    overflow: auto;
    padding: 10px;
    flex-grow: 1;
}

.articleNav {
    background: #fee;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.articleNav button {
    flex-grow: 1;
}