.card {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front,
.back {
    padding: 10px;
    box-shadow: 0 0 5px;
    border-radius: 8px;
    width: 50vh;
    height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prompt {
    flex-basis: 0;
}

.front .text,
.back .text {
    font-size: 10rem;
    flex-basis: 75%;
    overflow: hidden;
}

.nav-bar {
    flex-basis: 25%;
    width: 100%;

    display: flex;
    align-items: stretch;
}

.nav-bar button {
    flex-grow: 1;
}

.front {
    background: #e7e7e7;
}

.back {
    background: #ccecff;
}

.front.review {
    background: #fee;
}

.back.review {
    background: #b6dbff;
}

.hide {
    display: none;
}