<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leescribe</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">

    <script>const TRANSLATE_URL = "{{ url }}";</script>

    <script src="https://cdn.jsdelivr.net/npm/pinyin-pro@3.19.2/dist/index.min.js"></script>

    <script src="{{ url_for('static', filename='scripts/languageModels/languageModel.js') }}"></script>

    <script src="{{ url_for('static', filename='scripts/languageModels/spanish.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/languageModels/chinese.js') }}"></script>
</head>

<body>
    <div class="header">
        <div>
            <a href="https://www.bbc.com/mundo" target="_blank">BBC Mundo</a>
            <a href="https://cnnespanol.cnn.com/" target="_blank">CNN en español</a>
            <a href="https://www.msn.com/es-us">MSN español</a>
            |
            <a href="https://www.bbc.com/zhongwen/simp" target="_blank">BBC 中文</a>
            <a href="http://www.people.com.cn/" target="_blank">人民网</a>
            <a href="https://www.msn.com/zh-cn">MSN 中文</a>
            |
            <a href="https://www.cna.com.tw/" target="_blank">臺灣——中央社</a>
            |
            <a href="https://japan.focustaiwan.tw/" target="_blank">フォーカス台湾</a>
        </div>
        <textarea placeholder="Paste in your text..." class="article-input"></textarea>
        <div>
            Language:
            <select class="language-select">
                <option value="es">Spanish</option>
                <option value="zh">Chinese</option>
            </select>
        </div>
        <button class="start-btn">Start</button>
    </div>

    <div class="cont">
        <div class="richtext-cont"></div>
        <div class="translate-cont">
            <div>
                <strong>Translation</strong>
                <div class="passage-translate-cont"></div>
                <button class="jump-to-passage">Jump to</button>
            </div>

            <div>
                <strong>Custom Translate</strong>

                <div>Text:</div>
                <div><textarea class="custom-translate-input"></textarea></div>
                <button class="custom-translate-btn">Translate</button>

                <div class="custom-translate-cont"></div>
            </div>
        </div>
    </div>

    <!-- <script src="{{ url_for('static', filename='scripts/main.js') }}"></script> -->
    <script src="{{ url_for('static', filename='scripts/language.js') }}"></script>
</body>

</html>