body {
    font-family: calibri, kaiti;
    font-size: 22px;

    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    flex-direction: column;
}

.header {
    background: #eef;
    box-sizing: border-box;
}

.cont {
    display: flex;
    /* why ??? */
    height: 10px;
    flex: 1;
}

.cont .richtext-cont {
    flex: 0 0 75%;
    overflow: auto;
    position: relative;
}

.cont .translate {
    background-color: #eee;
    flex: 0 0 25%;
    box-sizing: border-box;
    overflow: auto;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cont .richtext-cont span rt {
    visibility: hidden;
    user-select: none;
}

.cont .richtext-cont span:focus rt {
    visibility: visible;
}

.grayed-out {
    opacity: 0.5;
}

a {
    color: blue;
}

a:hover {
    text-decoration: none;
}