body {
    font-family: calibri;
    font-size: 22px;
}

.cont {
    display: flex;
    height: 500px;
}

.cont .richtext-cont {
    flex: 0 0 75%;
    overflow: auto;
}

.cont .translate {
    background-color: #eee;
    flex: 0 0 25%;
    overflow: auto;
}