body {
    font-family: calibri, kaiti;
    font-size: 22px;
}

.cont {
    display: flex;
    height: 80vh;
}

.cont .richtext-cont {
    flex: 0 0 75%;
    overflow: auto;
    position: relative;
}

.cont .translate {
    background-color: #eee;
    flex: 0 0 25%;
    overflow: auto;
}

/* .pinyin-hint {
    font-family: Consolas;
    background: #d2e5ff;
    font-size: 16px;
    position: absolute;
    top: -22px;
    left: 0;
    z-index: 2;
    display: none;
} */

.cont .richtext-cont ruby rt {
    visibility: hidden;
}

.cont .richtext-cont ruby:hover rt {
    visibility: visible;
}

/* Maybe we need this */
/*
.handwritten {
    font-family: calibri, kaiti;
}
*/